$primary-color: #007fff;

$bright-color: #fff;
$dark-color: #191919;

$shadow-color: rgba(0, 0, 0, 0.075);





//legacy
$secondary-color: adjust_hue($primary-color, 180); // complementary

$background-color: $bright-color;
$text-color-less-important: mix($bright-color, $dark-color, 25%);
$text-on-primary-color: $bright-color;
$text-color-disabled: mix($bright-color, $dark-color, 50%);
//legacy

:root
{
    --background-color: #{$bright-color};
    --control-background-color: #{$bright-color};
    --primary-color: #{$primary-color};
    --text-color: #{$dark-color};
    --success-color: #30ff30;
    --danger-color: #ff3030;
    --warning-color: #ffff30;
    --info-color: #3030ff;

    --border-color: var(--gray6-color);
    --ui-area-background-color: var(--gray6-color);
    --ui-area-background-color-highlighted: var(--gray4-color);

    --gray4-color: #{mix($bright-color, $dark-color, 50%)};
    --gray6-color: #{mix($bright-color, $dark-color, 90%)};
    --gray7-color: #{mix($bright-color, $dark-color, 95%)};
}

.theme-dark
{
    --background-color: #{$dark-color};
    --control-background-color: #{$dark-color};
    --text-color: #{$bright-color};

    --border-color: var(--gray6-color);
    --ui-area-background-color: var(--gray6-color);
    --ui-area-background-color-highlighted: var(--gray4-color);

    --gray6-color: #{mix($bright-color, $dark-color, 10%)};
    --gray7-color: #{mix($bright-color, $dark-color, 5%)};
}