div.box
{
	background-color: $background-color;
	background-clip: border-box;
	border: 1px solid var(--border-color);
	border-radius: 0.25rem;
	padding: 1.25rem;

	display: inline-flex;
	margin: 10px auto;
}

div.column
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.column.expanding
{
	flex-grow: 1;
}

div.row, div.equallySpacedRow, div.evenlySpacedRow
{
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

div.row.full-width
{
	width: 100%;
}

div.row.evenly-spaced
{
	justify-content: space-evenly;
}

div.equallySpacedRow
{
	justify-content: space-between;
}

div.evenlySpacedRow
{
	justify-content: space-evenly;
}




ul.iconView
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	margin:auto;
	width:100%;
	list-style-type: none;
	
	li
	{
		text-align:center;
		padding: 0.5rem;
	}
	
	img, video
	{
		display:block;
		margin: auto;
		max-width: 200px;
		max-height: 200px;
		min-width: 100px;
		min-height: 100px;
		border-radius: 0.25rem;
		transition: 0.3s;
	}
	
	img:hover
	{
		opacity: 0.7;
	}
}


div.vertNav + div.stack
{
	margin-left: 220px;
}