div.material-icons.success
{
    color: var(--success-color);
}

div.material-icons.danger
{
    color: var(--danger-color);
}

div.material-icons.warning
{
    color: var(--warning-color);
}

div.material-icons.info
{
    color: var(--info-color);
}